/* Main Style */
html,
body {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 10px;
  color: #226;
  background: linear-gradient(90deg, #aca, #000, #ded);
}
main {
  max-width: 1000px;
  margin: auto;
  background: linear-gradient(52deg, #eee, #cee, #ded);
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 25px solid white;
  border-radius: 7px;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
p {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 3px;
}
a {
  font-size: 2.9rem;
  font-weight: bolder;
  text-decoration: none;
  color: #887;
}
img {
  display: block;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  align-content: center;
}


/* Title -Style */
#title {
  background: #fff;
  padding: 15px 45px;
  border-radius: 8px;
  text-align: center;
}


/* Tribute Section -Style */
#tribute-info {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  padding: 0px 25px 20px 25px;
  border-radius: 8px;
  background-color: #fff;
}
#img-div {
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
}
#img-div div {
  font-size: 3.3rem;
  margin-left: 40px;
}
#tribute-info .intro-div {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  margin: 5px;
}
/* Awards Section -Style */
#awards {
  margin: 20px;
  padding: 0px 25px 20px 25px;
}


/* Biography Section Main-Style */
#bio {
  background: #fff;
  margin: 10px;
  padding: 0px 25px 20px 25px;
  display: grid;
  border-radius: 8px;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
#bio h2 {
  display: block;
  margin: auto;
}
#bio .box {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #eee;
  margin-top: 30px;
  padding: 10px 25px;
}



/* For bigger screens */
@media only screen and (min-width: 1000px) {

  
  /* Tribute Section -Style */
  #tribute-info {
    grid-template-columns: 1fr 1fr;
  }
  
  
  /* Biography Section -Style */
  #bio {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
